body {
    font-family: Verdana, arial, sans-serif;
}

h1{
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 60px;
    text-align: center;
}

.btn-light{
    border: 1px solid #dee2e6;
}

div.galleri{
    margin: 10px 10px;
}

div.galleri img {
    width: 210px;
    padding: 10px;
    filter: grayscale(100%);
    transition: 1s;
}

div.galleri img:hover{
    filter:grayscale(0);
    transform: scale(1.3);
    z-index: 999;
    position: relative;
}

img#kingJohn{
    margin-right: auto;


}

p#omStylezone{

    padding-right: 30px;
}
div#Stylezone {

    text-align: justify;
}

div#Hvemervi{
    width:  50%;

}
div#Kontakoplysninger{
    width: 50%;
}

class.flex-container{
    display: flex;
    flex-wrap: nowrap;
}

form#goToDate{

}

form#goToDate *{
    margin-right: 10px;
}

#bookingSelector{
    margin-top: 20px;
}

#bookingSelector ul{
    list-style-type: none;
}

#bookingSelector #weekSelector{
    padding: 50px 25px;
    width: 100%;
    background: #343A40;
    text-align: center;
}

#bookingSelector #weekSelector ul{
    margin: 0;
    padding: 0;
}

#bookingSelector #weekSelector ul li{
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#bookingSelector #weekSelector ul li a{
    color: #FFFFFF;
    font-size: 40px;
}

/* Previous button inside month header */
#bookingSelector #weekSelector .prev {
    float: left;
    padding-top: 16px;

}

/* Next button */
#bookingSelector #weekSelector .next {
    float: right;
    padding-top: 16px;
}

#bookingSelector #bookingTimes{
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

#bookingSelector #bookingTimes li{
    display: inline-grid;
    width: 16%;
    color: #666;
    text-align: center;
    background-color:#ddd;
}

#bookingSelector #bookingTimes li ul{
    padding: 0px;
}

#bookingSelector #bookingTimes li ul li{
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 7px;
    /*background-color: #EEEEEE;*/

}

#bookingSelector #bookingTimes li ul li a{
    margin-bottom: -7px;
}

table.timeSelect{
    width: 100%;
    font-size: 20px;
}
