<div th:fragment="navbar">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="/">
            <span id="logo">Stylezone</span>
        </a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item" th:classappend="${isIndex} ? 'active' : ''">
                <a class="nav-link" href="/">Forside</a>
            </li>
            <li class="nav-item" th:classappend="${isPortfolio} ? 'active' : ''">
                <a class="nav-link" href="/billedeGalleri">Portfolio</a>
            </li>
            <li class="nav-item" th:classappend="${isTilbud} ? 'active' : ''">
                <a class="nav-link" href="/tilbud">Tilbud</a>
            </li>
            <li class="nav-item" th:classappend="${isPriser} ? 'active' : ''">
                <a class="nav-link" href="/priser">Priser</a>
            </li>
            <li class="nav-item" th:classappend="${isAbout} ? 'active' : ''">
                <a class="nav-link" href="/omOs">Om os</a>
            </li>
        </ul>

        <span class="ml-auto">
            <a href="/booking" class="btn btn-primary">Book tid</a>
        </span>
    </nav>
</div>