<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
    <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>
<div class="container">
    <header th:include="fragments/header :: navbar"></header>

    <a href="/editOpeningHours"  class="btn btn-success">Ændre Åbningstider</a>
    <a href="/upload"  class="btn btn-success">upload nyt billede til billede galleriet</a>
    <a href = "/staff" class = "btn btn-success"> tilføj eller fjern arbejds kollegaer</a>
    <a href = "/offer" class = "btn btn-success"> redigere i tilbud</a>
    <a href="/changeBookings" class = "btn btn-success"> manuel booking</a>




    <footer th:include="fragments/footer :: footer"></footer>
</div>
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</body>
</html>