<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
    <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>
    <div class="container">
        <header th:include="fragments/header :: adminNavbar"></header>

        <h1>Booking oversigt</h1>



        <footer th:include="fragments/footer :: footer"></footer>
    </div>
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</body>
</html>