<!-- Hasan -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
</head>
<body>
<div class="container">
    <header th:include="fragments/header :: navbar"></header>
    <h1 class="text-danger"><span class="fas fa-exclamation-triangle"></span>Warning</h1>

    <form th:method="Put" th:action="@{/deleteOffer}" th:object="${offer}">
        <input type="hidden" th:field="${offer.offerId}"/>
        <br>
        <h3 th:text="${'Er du sikker på at du vil delete ' + offer.offerName + '?'}"></h3>

        <input class="btn btn-light" type="button" value="Cancel" onclick="location.href='/';"/>

        <input class="btn btn-danger" type="submit" value="Delete"/>
    </form>
</div>
</body>
</html>