<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
    <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>
<div class="container">
    <header th:include="fragments/header :: navbar"></header>

    <h1>Åbnings tider:</h1>

    <br>

    <table class="table table-striped table-bordered table-hover">
        <tbody>
            <tr>
            <tr th:each="day : ${opening}">
                <form method="Post" th:action="@{/editOpeningHours}" th:object ="${opening}">
                    <td th:text="${day.openingDay}">
                        <input type="hidden" name="openingId" th:field="${day.openingId}"/>
                        <input type="hidden" name="openingDay" th:field="${day.openingDay}"/>
                        <input type="hidden" name="openingTime" th:field="${day.openingTime}"/>
                        <input type="hidden" name="openingClose" th:field="${day.openingClose}"/>
                    </td>
                    <td>

                        <label>Vælg Åbningstid: </label>
                        <td>
                            <select name="openingHour" class="form-control form-control-sm" size="1">
                                <span th:each = "hour : ${hours}">
                                    <option th:if="${day.openingHour} == ${hour}" th:text="${day.openingHour}" selected="selected" th:value="${day.openingHour}"></option>
                                    <option th:if="${day.openingHour} != ${hour}" th:text="${hour}" th:value="${hour}"></option>
                                </span>
                            </select>
                        </td>

                        <td>
                            <select name="openingMin" class="form-control form-control-sm" size="1">
                                <span th:each = "min : ${min}">
                                    <option th:if="${day.openingMin} == ${min}" th:text="${day.openingMin}" selected="selected" th:value="${day.openingMin}"></option>
                                    <option th:if="${day.openingMin} != ${min}" th:text="${min}" th:value="${min}"></option>
                                </span></option>
                            </select>
                        </td>
                    </td>
                    <td>
                        <label>Vælg Lukketid: </label>
                        <td>
                            <select name="closingHour" class="form-control form-control-sm" size="1">
                                <span th:each = "hour : ${hours}">
                                    <option th:if="${day.closingHour} == ${hour}" th:text="${day.closingHour}" selected="selected" th:value="${day.closingHour}"></option>
                                    <option th:if="${day.closingHour} != ${hour}" th:text="${hour}" th:value="${hour}"></option>
                                </span>
                            </select>
                        </td>

                         <td>
                             <select name="closingMin" class="form-control form-control-sm" size="1">
                                <span th:each = "min : ${min}">
                                    <option th:if="${day.closingMin} == ${min}" th:text="${day.closingMin}" selected="selected" th:value="${day.closingMin}"></option>
                                    <option th:if="${day.closingMin} != ${min}" th:text="${min}" th:value="${min}"></option>
                                </span></option>
                            </select>
                        </td>
                    </td>
                    <td>
                        <button class = "btn btn-primary btn-sm" type ="submit">Gem tid</button>
                    </td>
                </form>

            </tr>

        </tbody>
    </table>

</div>
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</body>
</html>