<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
<body>
<div class="container">
    <header th:include="fragments/header :: adminNavbar"></header>

    <h1><span class=""></span> Tilbud</h1>

    <br>

    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Overskrift</th>
            <th>Indhold</th>
            <th>Start</th>
            <th>Slut</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="active" th:each="offer : ${offers}">
            <td th:text="${offer.offerName}" ></td>
            <td th:text="${offer.offerContent}" ></td>
            <td th:text="${#strings.replace(offer.offerStart, '-', '/')}"></td>
            <td th:text="${#strings.replace(offer.offerEnd, '-', '/')}" /></span>
            <td>
                <a th:href="${'display/' + offer.offerId}" class="btn btn-light btn-sm">
                    <span class="far fa-eye"></span> Details
                </a>
                <a th:href="${'editMovie/' + offer.offerId}" class="btn btn-outline-dark btn-sm">
                    <span class="fas fa-pen"></span> Rediger
                </a>
                <a th:href="${'deleteMovie/' + offer.offerId}" class="btn btn-danger btn-sm">
                    <span class="fas fa-trash-alt"></span> Slet
                </a>

            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <a href="/createOffer">
        <button class="btn btn-success"><span class="fas fa-plus"></span> Opret tilbud</button>
    </a>

    <footer th:include="fragments/footer :: footer"></footer>
</div>
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</body>
</html>