<!-- Gustav -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles"></head>

    <meta charset="UTF-8">
    <title>Om StyleZone</title>
</head>
<body>
    <div class="container" id="Stylezone">
        <header th:include="fragments/header :: navbar"></header>
        <h1>Hvem er Vi?</h1>

        <div class = flex-container>


            <div id="Kontaktoplysninger" style = "float:right;">
                <h2>KONTAKTOPLYSNINGER</h2>
                <p>Vesterbrogade 175</p>
                <p>1800 Frederiksberg C </p>
                <p>29 89 75 96</p>
                <p>js@fl2r.com</p>


            </div>

        <div id="Hvemervi" style ="float:left;">

            <p>John Sarvari er ejer og frisør i Style Zone. John startede salonen i december 2012. Johns mål er at Style Zone
                tilfredstiller sine kunder med de bedste klip, der passer til kundens behov. </p>

            <p id="omStylezone">
            Style zone er en moderne, stilsikker og billig herre- og dameklip i smukke lokaler udføres af frisør John Sarvari
            eller en af hans kollegaer. John taler dansk, engelsk, farsi og dari.
            </p>

            <h4>Priser</h4>
            <p>Herre klip maskine: 140 kr.</p>
            <p>Herre klip saks: 170 kr.</p>
            <p>Dame klip: 180 kr.</p>

        <a href="/booking">
            <img class="alignnone" size-full wp-image-325 src="/image/booktidimg.png">
        </a>
        <br>



        <img id="kingJohn" src="https://i.imgur.com/cpjnefz.jpg" width="430">

        </div>
        </div>





        <footer th:include="fragments/footer :: footer"></footer>

    </div>

</body>
</html>

