<!-- Hasan -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
    <head th:include="fragments/head :: styles">
    <body>
        <div class="container">
            <header th:include="fragments/header :: navbar"></header>

            <h1> Portfolio </h1>

            <div class="galleri">

                <span th:each="picture : ${pictures}">
                    <a th:href="${'/image/upload/' + picture.pictureName}"><img th:src="${'/image/upload/' + picture.pictureName}"></a>

                </span>


            </div>

            <footer th:include="fragments/footer :: footer"></footer>
        </div>
        <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    </body>
</html>