<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">

</head>
<body>
<div class="container">
    <header th:include="fragments/header :: navbar"></header>

    <h1>Book a time</h1>
    <h2>Udfyld dit fulde navn, email adresse, telefon nummer og eventuelt en kommentar for at booke en tid</h2>
    <br>
    <form method="Post" th:action="@{/saveBooking}" th:object ="${booking}">

        <label>Fulde navn:</label>
        <input type = "text" class ="form-control mr-sm-2" th:name="bookingName" placeholder="Fornavn Efternavn" required/>

        <label>Telefon nummer:</label>
        <br>
        <input type = "number" class="form-control-mr-sm-2" th:name="bookingPhone" placeholder ="21232845" required/>
        <br>

        <label>Email Adresse:</label>
        <br>
        <input type = "text" class = "form-control-mr-sm-2" th:name = "bookingEmail" placeholder = "Email@provider.com" required/>
        <br>

        <input type="hidden" th:name = "bookingTime" th:value="${time}" required/>
        <input type="hidden" th:name = "bookingDate" th:value="${date}" required/>


        <label>Vælg Frisør:</label>
        <select th:name = "staffId">
            <option th:value="1">Første ledige</option>
            <option th:value="2">John</option>
            <option th:value="3">kollegaer</option>
        </select>
        <br>

        <label>Kommentar:</label>
        <textarea rows ="6" cols = "50" th:name = "bookingComment" placeholder = "Skriv eventuel kommentar her"></textarea>
        <br>


        <!-- reCaptcha html><-->
        <div class="g-recaptcha" data-sitekey="6LeWE30UAAAAAL8uXaRigoZ4ZSzufWzm0QnpgGLg"></div>

        <button class = "btn btn-primary" type ="submit" value="book tid">Book</button>

        <footer th:include="fragments/footer :: footer"></footer>
    </form>
</div>
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>

</body>
</html>