<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
    <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>
<div class="container">
    <header th:include="fragments/header :: adminNavbar"></header>

    <h1>Personale</h1>

    <!--<form class="form-inline" method="Post" th:action="@{/staff}">

    </form>-->
    <br>

    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Personalets fulde navn</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class = "active" th:each="staff : ${staffs}">
                <td th:text="${staff.staffName}"></td>

                <td>
                    <a th:href="${'/editStaff/'+ staff.staffId}" class ="btn btn-outline-dark btn-sm">
                        <span class="fas fa-pen"></span> Rediger</a>
                    <a th:href="${'deleteStaff/' + staff.staffId}" class="btn btn-danger btn-sm">
                        <span class="fas fa-trash-alt"></span> Slet
                    </a>

                </td>
            </tr>

        </tbody>
    </table>

    <a href="/createStaffMember" class="btn btn-success">
        <span class="fas fa-plus"></span> Opret personale
    </a>

</div>
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</body>
</html>